*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*HEADER*/
header{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	z-index: 100;
	padding-left: 60px;
	padding-right: 64px;
	background-color: rgb(243, 198, 102);
}

header.scrolled{
	height: 80px;
}

div
{
	display: block;
	position: relative;
    box-sizing: border-box;
}

.contenedor_header{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;


}

/*MENUUU*/

.menu{
 	display: inline-block;
 	margin-left: 50px;
	margin-top: 5px;
}



.menu a{
	margin-left: 5px;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

/*LOGO HEADDER*/

.logo a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
	text-decoration: none;

}


/*CABECERAAA IMAGENN*/

.imagen_cabecera
{
	width: 100%;
}
.imagen_cabecera img
{
	max-width: 100%;
}

/*TITULOS PROMOS...*/


.tituloPromo{
	margin-top: 60px;
	font-size: 50px;
	text-align: center;
	color: rgb(218, 151, 51);
	text-transform: uppercase;
}

.subtitPromo{
	font-size: 40px;
	text-align: center;
	color: rgb(31, 29, 26);
	text-transform: uppercase;
	margin-bottom: 50px;
}


/* LISTA PRODUCTOS */

.productosPromoList{
	margin-bottom: 30px;
	text-align: center;
	width: 1200px;

	/*Flexbox*/
	margin: 0 auto;
	display: flex;
	align-items: center;
}


.producto img{
	vertical-align: middle;
	padding: 20px;
	max-width: 100%;
}



/*TEXTO EN LAS IMAGENES*/

.producto{
	position: relative;
    display: inline-block;
    text-align: center;
}




.Subtitulo_Promo{
	position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}

.titulo_Promo{
	position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
	font-size: 40px;
	color: white;
}

/*2 FOTOOOOO*/
.titulo_Promo_centrado{
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 40px;
	color: white;

}

.P_Medio{
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(56, 55, 55, 0.63);
	padding-bottom: 59px;
	padding-top: 50px;
}

.contentP{
	position: absolute;
	top: 33.6%;
	z-index: 1;
}


.Subtitulo_Promo_centradoS{
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}

/*3 FOTOOOO*/



.titulo_Promo_izquierda{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #FFFFFF;
}

.Subtitulo_Promo_izquierda{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: -3px;
}

.contentPIzquierda{
	top: 30%;
	left: 45px;
	background: #232323;
	padding-left: 10px;
	text-align: right;
	padding-right: 22px;
	padding-top: 39px;
	padding-bottom: 41px;
}


/*TEXTO COMPRAR IMAGENES*/



.Compra_Abajo
{
	width: 80%;
	height: 60px;
	margin: 0 auto;
	background: #2f2f2f;
	text-align: center;
	transition: all 200ms ease;
}
.Compra_Abajo a
{
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 60px;
	transition: all 200ms ease;
	text-decoration: none;

}
.Compra_Abajo:hover
{
	background: #222222;
}
.Compra_Abajo:hover a
{
	color: #937c6f;
}

/*NUEVOS PRODUCTOS*/
.producto_info
{
	margin-top: 7px;
	float: left;
}

.producto_info{
	text-align: left;
}

.producto_name a{
	text-decoration: none;
	color: #222222;
	font-size: 20px;
}

.producto_name a:hover{
	color: #937c6f;
}

.producto_price{
	color: rgb(219, 167, 98);
	font-size: 30px;
}

.puntuacion{
	text-align: left;
}

.puntuacion i{
	color: rgb(226, 192, 39);
}

/*PFF ESTO SI Q ES COMPLICADO EL ICONO DE COMPRA*/

.producto_content
{
	margin-top: 7px;
	width: 85%;
}

.product_options
{
	float: right;
	transform: translateY(11px);
}


.producto_options
{
	width: 37px;
	height: 37px;
	cursor: pointer;
}

.producto_buy
{
	display: inline-block;
	background: #937c6f;
	vertical-align: middle;
	margin-right: 4px;
}

.producto_buy img{
	position: relative;
}

.producto_buy:hover
{
	background: #2f2f2f;
}

/*Extra  y Outfits Completos*/

.extraOutfit{
	margin-top: 60px ;
	width: 100%;

}

.extraPromo{
	width: calc((100% - 90px) / 2);
	float: left;
}

.extraPromoIzq{
	margin-right: 30px;
	padding-top: 43px;
	padding-left: 45px;
	padding-bottom: 46px;
	padding-right: 45px;
	margin-left: 30px;
}

.OutfitCompletoDer{
	padding-top: 43px;
	padding-bottom: 46px;
}


/*EXTRA IZQUIERDA*/

.extra_Prom_Img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.extra_Prom_Img img{
	width: 100%;
}

.extra_Izq_Contenido{
	max-width: 425px;
	height: 100%;
	background: rgba(35, 35, 35, 0.95);
	border: solid 2px #937c6f;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	text-align: center;
}

.extra_Izq_price{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 72px;
	color: #FFFFFF;
	line-height: 0.75;
}

.extra_Izq_price span{
	font-size: 25px;
}

.extra_Izq_title{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: #937c6f;
	margin-top: 39px;
}

.extra_Izq_text{
	font-size: 15px;
	color: gray;
	margin-top: 25px;
	line-height: 1.5;
	/*Esto separa el boton de compra*/
	margin-bottom: 50px;
}

.boton_extra{
	margin: 0 auto;
	height: 60px;
	width: 90px;
	background: #2f2f2f;
	text-align: center;

}

.boton_extra a
{
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 60px;
	text-decoration: none;

}
.boton_extra:hover
{
	background: #756047;
}
.boton_extra:hover a
{
	color: #937c6f;
}


/*OUTFITT DERECHAAA*/

.extra_Der_Contenido{
	background: transparent;
	padding-top: 27px;
	padding-left: 37px;
	padding-right: 37px;
	text-align: center;
	width: 50%;
}

.Outfit_Title{
	transform: translateX(20px);
}

.Letra_EnMedio{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 200px;
	color: #937c6f;
	line-height: 0.75;
	transform: rotate(-12deg);
}

.Outfit_Top{
	position: absolute;
	left: -50px;
	top: -32px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 72px;
	line-height: 0.75;
	color: #232323;
}

.Outfit_Bottom{
	position: absolute;
	left: -43px;
	bottom: -28px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 72px;
	line-height: 0.75;
	color: #232323;
}

.extra_Der_text{
	font-size: 15px;
	color: #aeaeae;
	margin-top: 83px;
	line-height: 1.5;
	/*Sepracion compra boton*/
	margin-bottom: 50px;
}


/*SLIDERRRR*/

.sliderContainer{
	margin-top: 50px;
	width: 100%;
	padding-top: 88px;
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 42px;
	margin-top: 99px;
}

.Fondo_Img_Slider{
	background-image: url(../img/galeria/gallery.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}

.Centrado_Txt p{
	text-align: center;
	color: white;
	font-size: 35px;
}

#Txt_Insta{
	color: rgb(207, 207, 202);
	font-size: 13px;
}

/*Imagenes de insta*/
.grid4{
	display: grid; 
	grid-template-columns: repeat(4,1fr); 
	grid-gap: 20px;
	padding-top: 20px ;
}

.grid4 img{
	width: 90%;
}

/*CLEARFIX*/


.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}

/*RESPONSIVEEE*/
@media (max-width: 450px) {
	.main{
		text-align: center;
	}
	.menu {
	  display: block;
	}

	.productosPromoList{
		display: block;
		width: 100%;
	}
	.Subtitulo_Promo{
		font-size: 20px;
	}
	.slider
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.grid4{
		grid-template-columns: repeat(2,1fr); 
	}
	.extraPromo{
		float: none;
	}
	.extra_Izq_price{
		font-size: 20px;
	}
  }

@media (max-width: 750px) {
	.main{
		text-align: center;
	}
	.menu {
	  display: block;
	}

	.productosPromoList{
		display: block;
		width: 100%;
	}
	.Subtitulo_Promo{
		font-size: 20px;
	}
	.slider
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.grid4{
		grid-template-columns: repeat(2,1fr); 
	}
	.extraPromo{
		float: none;
	}
  }


  @media (max-width: 1250px) {
	.main{
		text-align: center;
	}
	.menu {
	  display: block;
	}

	.productosPromoList{
		display: block;
		width: 40%;
	}

	.Subtitulo_Promo{
		font-size: 20px;
	}
	.extraPromo{
		float: none;
	}
  }